<aside class="text-light p-3" style="width:250px; background:#202225;">
        <ul class="list-unstyled">

            @if (ViewBag.Server == null)
            {
                <li class="mb-2">
                    <a asp-action="ManageFriends" asp-controller="Discord" class="btn btn-sm btn-primary w-100">
                        Dodaj przyjaciela
                    </a>
                </li>

                @foreach (var friend in ViewBag.Friends)
                {
                    <li class="d-flex align-items-center mb-2">
                        <img src="@friend.AvatarURL" class="rounded-circle me-2" width="32" height="32" />
                        @friend.Username
                    </li>
                }
            }
            else
            {
                <h5 class="mb-3 fw-bold">@ViewBag.Server.Name</h5>

                @foreach (var channel in ViewBag.Chanels)
                {
                    <li class="p-2 mb-1 rounded bg-secondary">@channel.Name</li>
                }

                <li class="mt-2">
                    <a asp-route-id="@ViewBag.Server.Id" asp-action="AddChanel" class="btn btn-sm btn-success w-100">
                        Dodaj kanał +
                    </a>
                </li>
            }

            <li class="mt-4">
                <partial name="_LoginPartial" />
            </li>
        </ul>
    </aside>